body{
    background-color: greenyellow;
}
.encabezado{
    background-color: rgb(129, 179, 12);
    text-align: center;
    font-size: large;
    font-family: fantasy;
    margin-left:  80vh;
    margin-right: 80vh;
    border-radius: 50px;
}
h1{
    font-size: 70px;
    color: rgb(13, 14, 41);
}
.divtexto{
    background-color: rgb(16, 6, 44);
    text-align: center;
    color: white;
    padding: 4%;
    margin-left:  80vh;
    margin-right: 80vh;
    border-radius: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.contenedorimg{
    margin-left: 0;
    margin-top: 0;
    position: static;
}
ul{
    margin: 10; 
    padding: 10;
}

li{
    margin-bottom: 10px;    
}


.Caja {
    display: flex; 
    align-items: center; 
    gap: 20px; 
    margin-left: 67vh; 
    margin-top: 10vh;
}
img{
    border-radius: 100px;
}
.parraf2{
    text-align: center;
    margin-top: 10px;

}

.ajuntadiv{
    max-width: 90vw;
}




